<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1" package="com.firakti.pomodorotimer" android:installLocation="auto" android:versionCode="6">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
	<application android:label="PomodoroTimer.Android" android:icon="@drawable/icon"></application>
</manifest>